.card-list {
  margin: 1rem 1rem;
}
.card {
  position: relative;
  animation: all 2.5s;
  perspective: 1000;
  transition: 0.6s;
  transform-style: preserve-3d;
  text-align: center;
  z-index: 1;
  background-color: #efefef;
  color: #333;
  font-weight: bold;
  font-size: 1.6rem;
  width: 80%;
  line-height: 3;
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", STXihei, Meiryo,
    sans-serif;
  margin: 0.5rem 0;
}
.card.flip {
  transform: rotateY(360deg);
}
